/* ==================================== VARIABLS ====================================== */
/* ==================================================================================== */
:root{
   --color-name: rgb(185, 185, 185);
   --color-surname: rgb(115, 115, 115);
   --color-subtitle: rgb(100,100,100);
   --color-1: rgb(235, 88, 84);
   --color-2: rgb(63, 153, 198);
   --color-3: rgb(227, 167, 46);
   --color-4: rgb(32, 117, 211);

}
/* ====================================== RESET ======================================= */
/* ==================================================================================== */
* {
    padding: 0;
    margin: 0;

    /*font-family: sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    /*background-color: rgba(0, 0, 0, 0.25);*/
}
/* ===================================== ELEMENTS ===================================== */
/* ==================================================================================== */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2vh;
}
html{
    display: flex;
    justify-content: center;
}
body{
    width: 80vw;
}
footer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
    padding: 0vh 0 2vh 0;
    bottom: 0;
    background-color: white;
}
footer p{
    display: flex;
    align-items: center;
    height: 2.4vw;
    font-size: 2vw;
}
footer a{
    display: flex;
    align-items: center;
    height: 2.4vw;
    font-size: 2vw;
}
footer img{
    height: 2vw;
    padding-left: 2vw;
    padding-right: 1vw;
    opacity: 0.6;
}
h1{
    font-size: 3vw;
    font-weight: lighter;
    color: var(--color-4);
}
header h1{
    padding: 0 1vh 0 1vh;
    font-size: 6vw;
    font-weight: lighter;
}
h2{
    font-size: 2.5vw;
    font-weight: 100;
    color: var(--color-4);
}
header h2{
    font-size: 4vw;
    font-weight: lighter;
    margin-top: 2vh;
    padding: 0 1vh 0 1vh;
    color: var(--color-surname);
    font-style: italic;
}
h3{}
p{
    font-size: 2vw;
}
a{
    font-size: 2vw;
    text-decoration: none;
    color: var(--color-3);
}
/* ===================================== CLASSES ====================================== */
/* ==================================================================================== */
.title{
    display: flex;
}
.spacer1{
    height: 3px;
    width: 100%;
    background-color: var(--color-name);
}

.spacer2{
    height: 1vw;
    width: 100%;
    background-color: var(--color-4);
    align-self: center;
    margin: 1.5vw 0 1.5vw 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0vh;
}
.subsection{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1vh;
}
.leftColumn{
    display: flex;
    flex-shrink: 0;
    width: 13%;
    margin: 0 1.5% 0 2%;
    /*background-color: red;*/
}
.rightColumn{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 2% 0 1.5%;
}
.year{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 2vw;

}
.position{
    font-size: 2.1vw;
    font-weight: 500;
    font-style: italic;;
}
.details{
    font-size: 2vw;
    text-align: justify;
}

.subfooter1{
    display: flex;
}

.pagebreak{
    display: none;
}
.footerSpacer{
    height: 20vw;
    visibility: hidden;
}
/* ======================================= IDs ======================================== */
/* ==================================================================================== */
#title_name{
    color: var(--color-name);
}
#title_surname{
    color: var(--color-surname);
}
/* =================================== ANIMATIONS ===================================== */
/* ==================================================================================== */
@media print{
    .pagebreak{
        display: block;
        page-break-before: always;
    }
    footer .spacer1{
        display: none;
    }
}
